@import "~bootstrap/scss/bootstrap";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
}

.text-yellow {
  color: #f6fc07;
}

.text-brown {
  color: #9b2026;
}

.text-cyan {
  color: cyan;
}

.fw-500 {
  font-weight: 500;
}
